/* scroll-to-top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #9ba1a7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  .scroll-to-top.show {
    opacity: 1;
  }
  
  .scroll-to-top:hover {
    background-color: #b39200;
  }